@font-face {
  font-family: 'HelveticaNeue';
  src: url('./assets/fonts/HelveticaNeue/HelveticaNeueCyr-Light.eot');
  src: local('./assets/fonts/HelveticaNeue/HelveticaNeueCyr-Light'),
    url('./assets/fonts/HelveticaNeue/HelveticaNeueCyr-Light.eot?#iefix')
      format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'HelveticaNeue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  input {
    background: #f5f5f5;
    border-radius: 8px;
    border-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    border: 0;
    &:focus {
      border: 1px solid #f5f5f5;
    }
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  min-height: 100vh;
}

.title {
  justify-self: center;
  align-self: start;
  grid-area: 1 / 6 / 2 / 8;
  margin: 40px 0px;

  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;

  color: #000000;
}
.profileContainer {
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;

  justify-self: center;
  align-self: center;
  grid-area: 1 / 1 / 2 / 13;
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 48px;

    color: #000000;
  }
  button {
    border: 0;
    border-radius: 8px;
    padding: 19px 71px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    background: #f5f5f5;
    cursor: pointer;
  }
}
.body {
  justify-self: stretch;
  align-self: center;
  grid-area: 1 / 5 / 2 / 9;
  align-items: stretch;

  div {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;

    &:first-child {
      margin-top: 0px;
    }
    &:last-child {
      margin-top: 40px;
    }
    > span {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #e26f6f;

      margin-top: 8px;
    }
    label {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;

      color: #1f1f1f;
    }
  }
  label {
    margin-bottom: 10px;

    &[for='passRemember'] {
      margin: 0 0 0 14px;
    }
  }
  .passRemember {
    flex-direction: row;
    align-items: center;
    input {
      width: 20px;
      height: 20px;
      border: 1px solid #000000;
      box-sizing: border-box;
      border-radius: 4px;
    }
  }
  .errMessage {
    flex-direction: row;
    padding: 20px;

    background: #f5e9e9;
    border: 1px solid #e26f6f;
    border-radius: 8px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    span {
      margin-left: 14px;
      margin-top: 0;
      color: #000000;
    }
    .errIcon {
      width: 20px;
      height: 20px;
      margin: 0;
      background-image: url('./assets/icons/icon-err.svg');
    }
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #4a67ff;
  border: 0;
  border-radius: 8px;

  padding: 19px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
  cursor: pointer;
  &:disabled {
    background: #99a9ff;
    cursor: wait;
  }
}
